# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Test / coverage / profiling
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytest_cache/
.testmondata

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.spec
dist/
build/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Others
*.sqlite3
*.db
*.swp
